{% load static %}
<!DOCTYPE html>
<html >
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&display=swap" rel="stylesheet">

<script>

    
    function sendMessage() {
        var user = getCookie('username')
        var message = document.getElementById('boite').value
        document.getElementById('boite').value = ''
        document.location.href = "../send_message/" + message + "/" + user
        
    }

    function getCookie(cname) {
      let name = cname + "=";
      let decodedCookie = decodeURIComponent(document.cookie);
      let ca = decodedCookie.split(';');
      for(let i = 0; i <ca.length; i++) {
        let c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }
</script>

<body>
    <div>
        
    </div>
    <div style="align-content: center; display: flex; flex-direction: column; color: #0288d1;">

        <div style="margin: auto; text-align: center;">
            {% for i in messages %}
                <div>{{i.username}} : {{i.text}}</div> 
            {% endfor %}
        </div>
        <br>
        <div style="margin: auto; margin-top: 30%;">
            <input id='boite' type="text" >
            <br>
            <div style="align-content: center; display: flex; margin-top: 10%;">
                <button style="margin: auto;" onclick="sendMessage()">
            </div>
            
        </div>
        <div style="align-content: center; display: flex;">
          <button style="margin: auto; margin-top: 10%" onclick='window.history.go(-1); return false'>Back</button>
      </div>
    </div>
</body>


</html>

