{% load static %}
<!DOCTYPE html>
<html style="height: 100%;   overflow: hidden;">
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&display=swap" rel="stylesheet">

<body  style="height: 100%;">

    <div style="justify-content: center; display: flex; flex-direction: column; height: 100%;">
        <div style="justify-content: center; display: flex;">
            <div>
                <div style="justify-content: center; display: flex;">
                    <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" version="1.1" width="130" height="130" id="svg2"><defs   id="defs8" /><path   d="M 65,29 C 59,19 49,12 37,12 20,12 7,25 7,42 7,75 25,80 65,118 105,80 123,75 123,42 123,25 110,12 93,12 81,12 71,19 65,29 z"   id="path4"   style="fill:#f44336" /></svg>
                </div>
                <h1 style="color: #f44336; font-family: 'M PLUS 1', serif; font-optical-sizing: auto; font-weight: 600; font-style: normal;">Your wait time is 5 minutes</h1>
            </div>

        </div>
    </div>
 
    
</body>

</html>