* {
    background-color: #A8D5BA;
    font-family: 'M PLUS 1', serif; 
    font-optical-sizing: auto; font-weight: 600; 
    font-style: normal

}

html {
    height: 100%; 
    overflow: hidden;
}





.triage1 {
    fill: #1b1a46;
    color: #1b1a46;
}

.triage2 {
    color: #f44336;
    fill: #f44336;
}

.triage3 {
    color: #ffee58;
    fill: #ffee58;
}

.triage4 {
    color: #1b5e3a;
    fill: #1b5e3a;
}

.triage5 {
    fill: white;
    color: white;
}

input[type=text] {
	appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid #29b6f6;
	background: rgba(#29b6f6, .2);
	border-radius: .2em .2em 0 0;
	padding: .4em;
	color: #29b6f6;
}